

# The MySQL server
[mysqld]
basedir      = /usr/local/mysql-5.6.4-m7
datadir      = /usr/local/mysql-5.6.4-m7/data
port          = 3306
socket          = /tmp/mysql5647.sock
skip-external-locking
key_buffer_size = 16K
max_allowed_packet = 1M
table_open_cache = 4
sort_buffer_size = 64K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
net_buffer_length = 2K
thread_stack = 128K
default_storage_engine = InnoDB
character_set_server = utf8
collation_server = utf8_general_ci
max_connections = 64

query_cache_type = 1
query_cache_size = 1M

